// Ref: https://github.com/nuxt-community/vuetify-module#customvariables
//
// The variables you want to modify
// $font-size-root: 20px;

// post comments
$color-comment-reply-line: #ffffff;
$color-comment-username: #f3f3f3;
$color-comment-metadata:  #4aff80;
$color-comment-hover: #BB86FC;
$color-comment-content: #dedede;
$color-comment-actions: #BB86FC;
$color-comment-actions-hover: #ffffff;

